SECFLY_ENVIRONMENT=development
SECFLY_VERSION=0.1.0
SECFLY_LOG_LEVEL=info
SECFLY_DIAGNOSTICS_ENABLED=false
SECFLY_GROUND_CONTROL_PORT=3000
SECFLY_ONBOARD_CORE_PORT=4101
SECFLY_SIMULATOR_PORT=4102
SECFLY_TELEMETRY_GATEWAY_PORT=4103
SECFLY_SCHEMA_MAJOR=1
SECFLY_SCHEMA_MAX_MINOR=0
